/Domino_Presentacion/target/
/Domino_DTO/target/
/Domino_Eventos/target/
/Domino_Patrones/target/
/Domino_Comunicacion/target/
/Domino_Server/target/
/FilterDomino/target/
/PipeDomino/target/
/FiltroConfiguracion/target/
/FiltroRegistrarJugador/target/
/FiltroJson/target/
/FiltroEventos/target/
/FiltroBuscarPartida/target/
/FiltroIniciarPartida/target/
/FiltroMenu/target/
/FiltroRoboPozo/target/
/FiltroRealizarJugada/target/
